# File specifici
#   lab01/esegui.sh
#   lab01/gem5_config.py
#   lab01/gem5_run
#   lab01/riscv_compile
   
#   Cartelle intere
    lab01/m5out/
    lab01/common/
    lab01/cartella_di_compilazione/
   
#   Pattern (tutti i file .log)
   *.log
   *.exe
   *.saved
   
#   Tutti i file in una cartella con estensione specifica
    lab01/*.log
    lab02/*.log